body {
	font-family: 'Rambla', sans-serif;
}

header {
	color: white;
	padding: 10px;
	background: black;
	position: fixed;
	width: 100%;
	top: 0;
}

header h1 {
	font-size: 2em;
}

.ui-components {
	margin-top: 70px;
}

.ui-components h2 {
	font-size: 1.8em;
	padding: 10px 20px;
}	